.UserForm
  .UserContent
    %h2.UserContent__title 会員登録
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :名前
        %br/
        = f.text_field :name, autofocus: true, autocomplete: "name"
      .field
        = f.label :メール
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :パスワード
        - if @minimum_password_length
          %em
            (#{@minimum_password_length}文字以上)
        %br/
        = f.password_field :password, autocomplete: "new-password"
      .field
        = f.label :パスワード確認
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .actions
        = f.submit "Sign up"
    = render "devise/shared/links"

