%div.like-link{id: "like-link-#{post.id}"}
  - if current_user.likes.find_by(post_id: post.id)
    = link_to unlike_path(post.id), method: :delete, remote: true do
      .btn.btn-default.glyphicon.glyphicon-heart{id: "heart-#{post.id}"}
        = post.likes.count.to_s
  - else
    = link_to like_path(post.id), method: :post, remote: true do
      .btn.btn-default.glyphicon.glyphicon-heart-empty{id: "heart-#{post.id}"}
        = post.likes.count.to_s