$("<%= @id_name %>").html('<%= escape_javascript(render("likes/like_links", post: @post  )) %>');
$("<%= @id_heart %>").addClass('glyphicon-heart-empty');
$("<%= @id_heart %>").removeClass('glyphicon-heart');