.toppage
  .toppage__content
    .toppage__content--title
      SUPERD　VIEW
    .toppage__content--main
      SUPEDVIEW
      %br/
      それは絶景という意味です。
      %br/
      みんなで世界中の絶景を投稿しましょう！
    .toppage__content--btn
      - unless current_user
        = link_to "会員登録", new_user_registration_path
        = link_to "ログイン", new_user_session_path
