.postspage
  .postspage__main
    投稿一覧
  .postspage__content
    .card
      - @posts.each do |post|
        .card__contant
          .card__contant-title
            = post.title
          .card__contant-main
            .card__contant-main-image
              = image_tag post.image.url, class: "post_photo"
            .card__contant-main-description
              = post.description
  = paginate(@posts)
