= form_with(url: posts_searches_path, local: true, method: :get, class: "search-form") do |form|
  = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
  = form.submit "検索", class: "search-btn"
.postspage
  .postspage__main
    投稿一覧
  .postspage__content
    = render partial: "post"
= paginate(@posts)
