body {
  background: linear-gradient(90deg, #808080, rgb(4, 29, 53));
  height: 100%;
  width: 100%;
}

.formpage {
  width: 100vw;
  height: 100vh;
  .formpage_content {
    text-align: center;
    padding: 200px;
    font-size: 2rem;
    &__title {
      
    }
  }
}
.hidden {
  display: none;
}
.image-file {
  margin: auto;
  width: 250px;
  background-color: #808080;
  cursor: pointer;
}

.modal-dialog {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: none;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: none;
}

.modal-content {
  position: relative;
  overflow: auto;
  height: 100%;
  background: #F4F4F7;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
}

.close-btn {
  position: absolute;
  top: .25rem;
  right: .25rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 6;
  .batsu {
    position: absolute;
    top: 20px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 30px;
    height: 5px;
    background: #333333;
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      -moz-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      background: #333333;
    }
  }
}
