body {
  background: linear-gradient(90deg, #808080, rgb(4, 29, 53));
  height: 100%;
  width: 100%;
}

.formpage {
  width: 100vw;
  height: 100vh;
  .formpage_content {
    text-align: center;
    padding: 200px;
    font-size: 2rem;
    &__title {
      
    }
  }
}
.hidden {
  display: none;
}
.image-file {
  margin: auto;
  width: 250px;
  background-color: #808080;
  cursor: pointer;
}