.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: .5rem 5rem;
  align-items: center;
  font-size: 1.5rem;
  a {
    color: white;
    text-decoration: none;
  }
  &__menu {
    display: flex;
    color: white;
    &--item {
      padding-left: 1rem;
    }
    a {
      color:white;
      text-decoration: none;
      display: block;
      height: 1rem;
    }
  }
}

.pagination {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
  display: block;
}
