.postspage {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  &__main {
    text-align: center;
    color: #CCCCCC;
    font-size: 3rem;
    margin: 3rem
  }
  &__content {
    margin: auto;
    text-align: center;
    max-width: 80%;
  }
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  &__contant {
    border: solid #888888;
    width: 30%;
    margin: 10px;
    &-title {
      color: white;
      height: 4rem;
      margin: 2rem;
      font-size: 2.5rem;
      border-bottom: solid white;
      white-space: nowrap;
    }
    &-main {
      &-description {
        margin: 2rem;
        border-top: solid white;
        font-size: 1.5rem;
        color: white;
        
      }
    }
  }
}
.post_photo {
  width: 100%;
  height: 300px;
}