.show {
  margin-bottom: 3rem;
  &__title {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
  }&__image {
    text-align: center;
    margin: 2rem;
  }
  &__sub {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 80%;
  }
  &__description {
    width: 50%;
    text-align: center;
    border: double;
    padding: 1rem;
    margin: 1rem;
    &--title {
      font-size: 3rem;
      padding: 1rem;
    }
    &--item {

    }
  }
  #comments_area {
    height: 30rem;
    overflow: scroll;
  }
  .comment__content {
    border-bottom: groove;
    text-align: center;
  }
  .comments_area {
    &__title {
      text-align: center;
      font-size: 3rem;
      padding: 1rem;
    }
  }
}
.show__box {
  width: 50%;
  text-align: center;
  background-color: #CCCCCC;
  padding: 1rem;
  margin: 1rem;
}
.contributor {
  &__name {
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
  }
}
.show__box--item {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}
.bg--reset {
  background-color: white;
  border: double;
}
.more {
  cursor: pointer;
  z-index: 2;
  height: 100px;
  width: 80px;
  text-align: center;
  &:hover ul.edit-btn__list {
    display: block;
  }
  ul.edit-btn__list {
    width: 80px;
    font-size: 12px;
    border: 1px solid #ddd;
    display: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    border-radius: 3px;
    li {
      border-bottom: 1px solid #ddd;
      &:last-child {
        border-bottom: 0;
      }
      a {
        display: block;
        padding: 5px;
        &:hover {
          background-color: black;
          color: #fff;
        }
      }
    }
  }
}