.toppage {
  height: 100vh;
  width : 100vw;
  background-image: url(superdview.webp);
  background-size: cover;
  opacity: 0.9;
  color: white;
  text-align: center;
  &__content {
    margin: 0 auto;
    padding: 300px;
    &--title {
      font-size: 60px;
    }
    &--main {
      padding: 50px;
    }
  }
}